<div class="container-lg">
    <div class="row">
        <div class="col-lg-7 col-12 cover-right">
            <div class="heading-8">
                <p class="text-wrapper-48">تو اینجا آسون یاد بگیر <br />بدون دردسر!</p>
            </div>
            <div class="p-text-gray">
                <p class="text-wrapper-49">
                    برای یادگیری فقط کافیه، تلاش و تمرین داشته<br />باشید،
                    بقیه‌اش با ما
                </p>
            </div>
            <a asp-controller="course" asp-action="index">
            <div class="link-29">
                <div class="span-font-medium">
                    <div class="text-wrapper-50 vazir">شروع یادگیری برنامه‌نویسی</div>
                </div>
                <img class="SVG-19" src="~/Images/Enter.svg" />
            </div>
            </a>
            <div class="list-3">
                <div class="item-wrapper col-12 col-sm-6">
                    <div class="item-4">
                        <img class="SVG-20" src="~/Images/Course.svg" />
                        <div class="span-text-gray-5">
                            <div class="text-wrapper-51">اساتید با تجربه</div>
                        </div>
                    </div>
                </div>
                <div class="item-margin-2">
                    <div class="item-5">
                        <img class="SVG-21" src="~/Images/zemanat.svg" />
                        <div class="span-text-gray-6">
                            <div class="text-wrapper-52" title="در آینده">ضمانت بازگشت وجه </div>
                        </div>
                    </div>
                </div>
                <div class="item-margin-3 col-12 col-sm-6">
                    <div class="item-6">
                        <img class="SVG-22" src="~/Images/tamrin.svg" />
                        <div class="span-text-gray-7">
                            <div class="text-wrapper-51">یادگیری با تمرین</div>
                        </div>
                    </div>
                </div>
                <div class="item-margin-4">
                    <div class="item-7">
                        <img class="SVG-23" src="~/Images/poshtibani.svg" />
                        <div class="span-text-gray-8">
                            <div class="text-wrapper-51">پشتیبانی 24 ساعته</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-12 cover-left">
            <img class="header-human-head" src="~/Images/header-human-head.png.png" />
        </div>
        <img class="div-absolute-2" src="~/Images/SVG.svg" />
    </div>
</div>
