<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/30.1.0/font-face.css" integrity="sha512-ZHFuHiK3EA1uh2tx7nB0j9HyXR/IAFW24KVNFGjY8QIjtDKHmcowjUyObXF40wYrG25+kECHEbH8rL+HbvRwYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="~/EasyLearn.ico">
    <link rel="stylesheet" href="~/CSS/global.css" />
    @RenderSection("css", false)
    <style>
        a {
            text-decoration: none;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        body {
            font-family: vazir;
        }

        main {
            position: sticky;
            top: 0px;
        }

        media (min-width: 768px) {
            .bd-placeholder-img-lg font-size: 3.5rem;
        }
    </style>


</head>
<body dir="rtl">
    <div class="d-flex">
        <main class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                <a asp-controller="home" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">پنل مدرس</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item mb-3">
                        <a href="/" class="nav-link text-white" aria-current="page">
                            سایت
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Teacher" asp-action="CreateCourse" class="nav-link text-white">
                            ایجاد دوره
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Teacher" asp-action="Manage" class="nav-link text-white">
                            مدیریت دوره
                        </a>
                    </li>
                </ul>
                <hr>
            </div>

        </main>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>

    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js
"></script>
    <script type="text/javascript">
        import Swal from 'sweetalert2';
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
