@model Easy_Learn.UI.ViewModels.AnswerQuestionVM.UpdateAnswerQuestionVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container-md">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" asp-route-questionId="@ViewData["questionId"]">
            @if (ViewBag.Error != null)
            {
                <ul class="text-danger">
                    @foreach (var error in ViewBag.Error)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
            else if (ViewBag.Message != null)
            {
                <p class="text-danger">@ViewBag.Message</p>
            }
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
