@{
    ViewData["Title"] = "پیام ثبت";
}

<h1 class="vazir">عملیات ثبت نام با موفقیت انجام شد</h1>

<p class="vazir">برای تکمیل این روند وارد ایمیل خود شوید و بروی لینکی که برایتان آمده است کلیک کنید</p>