@model List<CommentsVM>
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css {
    <style>
        .side-item-3 {
            border-radius: 10px;
            background-color: rgba(111, 184, 243, 0.137);
            color: rgb(65, 159, 236);
        }

            .side-item-3 svg {
                color: rgb(65, 159, 236);
            }
    </style>
}

<div class="p-5">
    @foreach (var comment in Model) {
        <partial name="_CommentPartial" model="@comment"/>
    }
</div>