@model List<GetNotificationVM>
@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section css {
    <style>
        .side-item-notif {
            border-radius: 10px;
            background-color: rgba(111, 184, 243, 0.137);
            color: rgb(65, 159, 236);
        }

            .side-item-notif svg {
                color: rgb(65, 159, 236);
            }

        .b {
            border-left: 1px dashed #d3d4d4;
        }
    </style>
}

<div class="m-5 vazir">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title mb-3">@item.Title</h5>
                <p class="card-text ms-4">@Html.Raw(item.Message)</p>
                <p style="text-align:center;">@item.DateTime</p>
            </div>
        </div>
    }
    
</div>


